<div>
  <label for="url">URL</label>
  <input type="text" class="form-control" id="url" placeholder="Url">
</div>

<div>
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Title">
</div>

<select id="tag">
  <option>Choose Tag</option>
  <option class="social" value="social">Social</option>
  <option class="search" value="search">Search</option>
  <option class="entertainment" value="entertainment">Entertainment</option>
</select><br />

<input type="submit" value="Add" />
