<div class="form-title">
  <label for="title">Blog Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>

<div class="form-author">
  <label for="author">Author</label>
  <input type="text" class="form-control" id="author" name="author" placeholder="Author">
</div>

<button type="submit">Create Blog Post</button>
