<div>
  <label for="name">First Name</label>
  <input type="text" class="form-control" id="firstName" name="firstname" placeholder="First Name">
</div>

<div>
  <label for="name">Last Name</label>
  <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last Name">
</div>

<div>
  <label for="phone">Phone Number</label>
  <input type="tel" class="form-control" id="phoneNumber" name="phone" placeholder="Name">
</div>

<div>
  <label for="address">Address</label>
  <input type="text" class="form-control" id="address" name="address" placeholder="Address">
</div>

<button type="submit">Create Person</button>
